/* Proportions */

$section-height : 100vh;

/* Colors */

$main-bg-color	:		#FFFFFF;
$color1 		:		#434343;


@font-face {
	font-family: 'MyFont';
	src: url('fonts/Chunkfive.otf')
	}

body
{
	width : 100%;
	margin : auto;
	background-color : $main-bg-color;
	overflow-y : hidden;

	h1, h2, h3
	{
		font-family : myFont;
	}

	.main-container
	{
		padding : 0!important;
		
		.header
		{
			width : 100%;
			position : fixed;
			padding : 0!important;
			background-color : $color1;
			
			ul
			{
				overflow : hidden;


				li
				{
					display : block;
					float : left;
					clear : right;
					a
					{
						text-decoration : none;
						padding : 10px 30px;
						color : $main-bg-color;
						font-family: MyFont;
						font-weight : 300;
					}
					.current
					{
						color : #ff6000;
					}
				}
			}
		}
		.content-section
		{
			height : 100vh;
			padding : 55px 0 0 0;

			.cursus-details, .professionnal-details
			{
				padding : 0;
				h2
				{
					text-align : center;
					display : block;
					padding : 25px 0;
				}
				ul
				{
					li
					{
						list-style : none;
						display : block;
						width : 90%;
						border-bottom : 2px solid #434343;
						margin : auto;
						padding : 20px 0 20px 0;

						h3
						{
							font-size : 23px;
						}
						div
						{
							text-align : center;

							p
							{
								display : block;
								margin : 10px 0 0 0;
							}
						}
					}
					li:last-of-type
					{
						border : none;
					}
				}
			}
			.cursus-details
			{
				background : #f4f4f4;
				height : 100vh;

				h2
				{
					background-color : $main-bg-color;
				}
			}
			.professionnal-details
			{
				background : $main-bg-color;
				height : 100vh;

				h2
				{
					background-color : #f4f4f4;
				}
			}

			.languages, .softwares
			{
				ul
				{
					li
					{
						list-style : none;
						display : block;
						width : 25%;
						margin : 0;
						float : left;
						clear : right;

						img
						{
							max-width : 100%;
						}
						.lvl
						{
						width : 50%;
						margin : 0 25%;

							i
							{
								margin : auto;
							}
						}

					}
				}
			}
		}
		#home-container
		{
			background : #f4f4f4;
			.presentation
			{
				padding : 50px 30px 0 0;

				p:first-of-type
				{
					display : block;
					margin : 45px 0 0 0; 
				}
			}
		}
		.skills-container
		{
			h2
			{
				text-align : center;
				padding : 20px 0 20px 0;
			}
		}
		.contact-container
		{
			background : $color1;

			h2
			{
				color : $main-bg-color;
				text-align : center;
				padding : 20px 0;
			}

			form
			{
				display : block;
				width : 60%;
				margin : auto;
				fieldset
				{
					input[type=text], textarea
					{
						display : block;
						width : 60%;
						margin : auto;
						margin-top : 20px;
					}

					textarea
					{
						height : 250px;
					}

					input[type=submit]
					{
						display : block;
						width : 30%;
						margin : auto;
						margin-top : 30px;
					}

				}
			}
		}
	}

}
@media screen and (max-width: 767px) {
body
{
	.main-container
	{
	padding : 10px!important;

		.header
		{
			display : none;
		}
		.content-section
		{
			height : auto!important;
			padding : 0;
		}
		overflow-y : visible;
		
		.pres-pic
		{
			display : none;
		}


		.presentation
		{
			width : 100%;
			padding : 0!important;

			h1
			{
				font-size : 30px;
			}
		}
	}
}
}
