/* Proportions */

$section-height : 100vh;

/* Colors */

$main-bg-color	:		#FFFFFF;
$color1 		:		#434343;


@font-face {
	font-family: 'MyFont';
	src: url('fonts/Chunkfive.otf')
	}

body
{
	width : 100%;
	margin : auto;
	background-color : $main-bg-color;
	overflow-y : hidden;

	h1, h2
	{
		font-family : myFont;
	}

	.main-container
	{
		padding : 0!important;
		
		.header
		{
			width : 100%;
			position : fixed;
			padding : 0!important;
			background-color : $color1;
			
			ul
			{
				overflow : hidden;


				li
				{
					display : block;
					float : left;
					clear : right;
					a
					{
						text-decoration : none;
						padding : 10px 30px;
						color : $main-bg-color;
						font-family: MyFont;
						font-weight : 300;
					}
				}
			}
		}
		.content-section
		{
			height : 100vh;
			padding : 55px 0 0 0;

			.languages
			{
				ul
				{
					li
					{
						list-style : none;
						display : block;
						width : 25%;
						margin : 0;
						float : left;
						clear : right;

						img
						{
							max-width : 100%;
						}
						.lvl
						{
						width : 50%;
						margin : 0 25%;

							i
							{
								margin : auto;
							}
						}

					}
				}
			}
		}
		#home-container
		{
			background : #f4f4f4;
			.presentation
			{
				padding : 50px 30px 0 0;

				p:first-of-type
				{
					display : block;
					margin : 45px 0 0 0; 
				}
			}
		}
	}

}
